# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
**/.env
venv/
.venv/
.env.local
.env.production
.env.development

# Jupyter
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

./kg-rag-app/data/
